@charset "utf-8";
body{ background-color: black;
}
.carousel{
	margin: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:15px;
}
.navbar{
		margin: 0px;
		background-color: black;
}

.footer{ background-color:black;
		color:#F9F9F9;
		text-align: center;
		
}
.row { font: sans serif;
        color: White;
		font-size: 20px;
		background-color: black;
}



